@(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Finagle ZooKeeperServerSetCluster demo by @@seratch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Finagle ZooKeeperServerSetCluster demo by @@seratch">
    <meta name="author" content="Kazuhiro Sera">

    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap-responsive.min.css")" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js")"></script>
    <![endif]-->

    <script src="@routes.Assets.at("js/jquery.min.js")"></script>

</head>

<body>

<div class="container">
@content
</div>

<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

</body>
</html>
